<!-- start custom head snippets
See https://stackoverflow.com/questions/26275645/how-to-support-latex-in-github-pages

https://stackoverflow.com/questions/34347818/using-mathjax-on-a-github-page
-->


<!-- insert favicons. use https://realfavicongenerator.net/ 

https://stackoverflow.com/questions/55162080/rendering-problem-cross-reference-equation-in-r-markdown-html

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { 
      equationNumbers: { 
            autoNumber: "AMS",
            formatNumber: function (n) {return '9.'+n}
      } 
  }
});
</script>


For the below see: https://mathjax.github.io/MathJax-demos-web/equation-refs.html.html

-->


  <script>
  MathJax = {
    tex: {
      tags: 'all'
    }
  };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>



<!-- end custom head snippets -->
